﻿@model CyberEye.Models.CommonData


@if (Model != null)
{
    <div>
        <div class="cs-title">Suspicious activities/pattern report: <br />Name : <span>@Model.Name</span>  National : <span>@Model.Nationlity</span></div>
        <div class="cs-subtitle">Customer Type : <span>@Model.CustomerType</span> </div>
    </div>

    <table class="table font-weight-light" style="margin-top:15px;">
        <tr>
            <td>Who</td>
            <td class="text-right">@(Model?.RBAProfile.Who.GetValue)</td>
            <td>
                @if (Model?.RBAProfile.Who.GetValue > 0)
                {
                    <ul class="list-group">
                        <li>Occupation: @Model.Occupation</li>
                        <li>CustomerType : @Model.CustomerType</li>
                        <li>
                            @if (Model.OfacData)
                            {
                                <span>OFAC match</span>
                            }
                            else
                            {
                                <span>OFAC not match</span>
                            }
                        </li>
                        <li>
                            @if (Model.SanctionList)
                            {
                                <span>SanctionList match</span>
                            }
                            else
                            {
                                <span>SanctionList not match</span>
                            }
                        </li>
                        <li>
                            <span>Media match</span>
                        </li>
                        <li>
                            <span>CTR match</span>
                        </li>
                    </ul>
                }
            </td>
        </tr>
        <tr>
            <td>Where</td>
            <td class="text-right">@(Model?.RBAProfile.Where.GetValue)</td>
            <td>
                @if (Model?.RBAProfile.Where.GetValue > 0)
                {
                    <ul class="list-group">
                        <li>occoupion : @Model.Occupation</li>
                        <li>
                            country : @Model.CountryOfResidence
                        </li>
                    </ul>
                }
            </td>
        </tr>
        <tr>
            <td>When</td>
            <td class="text-right">@(Model?.RBAProfile.When.GetValue)</td>
            <td>
                @if(Model?.RBAProfile.When.GetValue > 0)
                {
                    <ul class="list-group">
                        <li>Date : @Model.TransacTionTimes</li>
                    </ul>
                }
            </td>
        </tr>
        <tr>
            <td>Why</td>
            <td class="text-right">@(Model?.RBAProfile.Why.GetValue)</td>
            <td>
                @if(Model?.RBAProfile.Why.GetValue > 0)
                {
                    <ul class="list-group">
                        <li></li>
                    </ul>
                }
            </td>
        </tr>
        <tr>
            <td>What</td>
            <td class="text-right">@(Model?.RBAProfile.What.GetValue)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" style="text-decoration:underline double;">@(Model?.RBAProfile.TotalScore)</td>
            <td></td>
        </tr>
    </table>
}

@*<table>
        <tr>
            <td>OFAC Status</td>
            <td>
                @if (Model.OfacData)
                {
                    <i class="fas fa-check text-success"></i>
                }
                else
                {
                    <i class="fas fa-times text-danger"></i>
                }
            </td>
        </tr>
        <tr>
            <td>Sanction Status</td>
            <td>
                @if (Model.SanctionList)
                {
                    <i class="fas fa-check text-success"></i>
                }
                else
                {
                    <i class="fas fa-times text-danger"></i>
                }
            </td>
        </tr>
    </table>*@
