﻿@using CyberEye.Models
@using MvcSiteMapProvider.Web.Html
@{
    string action = ViewContext.RouteData.GetRequiredString("action");
    string controller = ViewContext.RouteData.GetRequiredString("controller");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Font-icon css-->
    @Styles.Render("~/Content/fontcss")

    <!-- Normal Css -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- css vali admin -->
    @Styles.Render("~/Content/vali-admin/docs/css/css")
</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="@Url.Action("Index","Home",new { Area = "" })">CodeAthon</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            @*<li class="app-search">
                    <input class="app-search__input" type="search" placeholder="Search">
                    <button class="app-search__button"><i class="fa fa-search"></i></button>
                </li>*@
            <!--Notification Menu-->
            @*<li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown"><i class="far fa-bell fa-lg"></i></a>
                    <ul class="app-notification dropdown-menu dropdown-menu-right">
                        <li class="app-notification__title">You have 4 new notifications.</li>
                        <div class="app-notification__content">
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                                    <div>
                                        <p class="app-notification__message">Lisa sent you a mail</p>
                                        <p class="app-notification__meta">2 min ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                                    <div>
                                        <p class="app-notification__message">Mail server not working</p>
                                        <p class="app-notification__meta">5 min ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                                    <div>
                                        <p class="app-notification__message">Transaction complete</p>
                                        <p class="app-notification__meta">2 days ago</p>
                                    </div>
                                </a>
                            </li>
                            <div class="app-notification__content">
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Lisa sent you a mail</p>
                                            <p class="app-notification__meta">2 min ago</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Mail server not working</p>
                                            <p class="app-notification__meta">5 min ago</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Transaction complete</p>
                                            <p class="app-notification__meta">2 days ago</p>
                                        </div>
                                    </a>
                                </li>
                            </div>
                        </div>
                        <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
                    </ul>
                </li>*@
            <!-- User Menu-->
            @*<li class="dropdown">
                        <a class="app-nav__item" href="#" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i></a>
                        @using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="dropdown-menu settings-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                            <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                        </ul>
                }
                    </li>*@
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        @if (Request.IsAuthenticated)
        {
            <div class="app-sidebar__user">
                <div>
                    <p class="app-sidebar__user-designation">Frontend Developer</p>
                </div>
            </div>
        }
        <ul class="app-menu">
            <li>
                <a class="app-menu__item" href="@Url.Action("Index","Home",new { Area = "" })"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label"> Home</span></a>
            </li>
            <li class="treeview is-expanded">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label"> Big Data Mining</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item @MenuUtilities.MenuIsActived(action, controller, new string[] { "importbigdata" },new string[] { "home" }, "active")" href="@Url.Action("ImportBigData","Home")"><i class="icon fas fa-database"></i> Import Transaction Data</a></li>
                    <li><a class="treeview-item @MenuUtilities.MenuIsActived(action, controller, new string[] { "importsanction" },new string[] { "home" }, "active")" href="@Url.Action("ImportSanction","Home")"><i class="icon fas fa-database"></i> Import Sanction List</a></li>
                    <li><a class="treeview-item @MenuUtilities.MenuIsActived(action, controller, new string[] { "importofac" },new string[] { "home" }, "active")" href="@Url.Action("ImportOfac","Home")"><i class="icon fas fa-database"></i> Import OFAC List</a></li>
                    <li><a class="treeview-item" href="#"><i class="icon fas fa-database"></i> Import Media</a></li>
                    <li><a class="treeview-item" href="#"><i class="icon fas fa-database"></i> Import Immigration Data</a></li>
                    <li><a class="treeview-item" href="#"><i class="icon fas fa-database"></i> Import Existing STR</a></li>
                    <li><a class="treeview-item" href="#"><i class="icon fas fa-database"></i> Import Existing CTR</a></li>
                    <li><a class="treeview-item" href="#"><i class="icon fas fa-database"></i> Import LEA Data</a></li>
                </ul>
            </li>
            <li class="treeview is-expanded">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label"> Dashboard Report</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="@Url.Action("DisplayRiskProfiling_RBA","Home")"><i class="icon fas  fa-tv"></i> Risk Profiling</a></li>
                    <li><a class="treeview-item" href="@Url.Action("RBAProfile","Home")"><i class="icon fas fa-cog"></i> Pattern Analysis</a></li>
                    <li><a class="treeview-item" href="@Url.Action("PatternAnalysis","Home")"><i class="icon fas fa-cog"></i> TF Inteligence  Report</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1>@Html.Raw(ViewBag.Icon) @ViewBag.Title</h1>
                <p>@ViewBag.Description</p>
            </div>
            <div class="fa-pull-right">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vali-admin-js")
    @RenderSection("scripts", required: false)
</body>
</html>
