﻿@model List<CommonData>
@using CyberEye.Models
@{
    ViewBag.Title = "DisplayRiskProfiling_RBA";
}

<h2>DisplayRiskProfiling_RBA</h2>

@if (Model != null)
{
    <div class="tile">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Occupation</th>
                    <th>Nationlity</th>
                    <th>Country</th>
                    <th>Risk Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CommonData item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.DOB
                        </td>
                        <td>
                            @item.Occupation
                        </td>
                        <td>
                            @item.Nationlity
                        </td>
                        <td>
                            @item.CountryOfResidence
                        </td>
                        <td>
                            @item.RBAProfile.TotalScore
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var group_list = Model.GroupBy(a => a.RBAProfile.TotalScore).Select(a => new { Value = a.Key, Count = a.Count() });
        }
        <table class="table" style="margin-top:10px;">
            <tbody>
                @foreach(var item in group_list.OrderBy(a=> a.Value))
                {
                    <tr>
                        <td>@item.Value</td>
                        <td>@item.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>

    </div>
}