﻿@model CONSOLIDATED_LIST
@using CyberEye.Models
@{
    ViewBag.Title = "ImportSanction";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-lg-6">
                    @ViewBag.Message

                    @using (Html.BeginForm("ImportSanction", "Home", new { Area = "" }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "form1" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="exampleInputFile">Upload Sanctions List Data</label>
                            <input class="form-control-file" id="inputFile" name="inputFile" aria-describedby="fileHelp" type="file" accept=".xml"><small class="form-text text-muted" id="fileHelp">Only XSL</small>
                        </div>
                    }
                </div>
            </div>
            <div class="tile-footer">
                <button id="submitnow" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
    <div>Invidual count : @Model.INDIVIDUALS.Count()</div>
    <div>Entity Count : @Model.ENTITIES.Count()</div>

    <div class="col-md-12">
        <div class="col-md-6">
            @foreach (CONSOLIDATED_LISTINDIVIDUAL item in Model.INDIVIDUALS.Take(50))
            {
                @*<div>
                        DataID : @item.DATAID
                    </div>
                    <div>
                        Name : @item.NAME_ORIGINAL_SCRIPT
                    </div>
                    <div>
                        First Name : @item.FIRST_NAME
                    </div>
                    <div>
                        Second Name : @item.SECOND_NAME , Third Name :  @item.THIRD_NAME , Fourth Name : @item.FOURTH_NAME
                    </div>*@

                <div style="border-bottom: solid 5px #000">
                    Name : @item.FIRST_NAME @item.SECOND_NAME
                    <br />
                    DOB (@item.INDIVIDUAL_DATE_OF_BIRTH.Length) : @(item.INDIVIDUAL_DATE_OF_BIRTH.Length > 0 ? item.INDIVIDUAL_DATE_OF_BIRTH[0].DATE.ToString("dd/MM/yyyy") : "")
                    <br />
                    Nationality : @(item.NATIONALITY != null ? item.NATIONALITY.VALUE : "-")
                    <br />
                    Address @item.INDIVIDUAL_ADDRESS.COUNTRY <br />
                    @item.INDIVIDUAL_ADDRESS.NOTE
                    <br />
                    Purpose of transaction
                    <br />
                    Customer ID (@item.INDIVIDUAL_DOCUMENT.Length) :

                    @if (item.INDIVIDUAL_DOCUMENT.Length > 0)
                    {
                        foreach (CONSOLIDATED_LISTINDIVIDUALINDIVIDUAL_DOCUMENT doc in item.INDIVIDUAL_DOCUMENT)
                        {
                            <div>
                                @doc.TYPE_OF_DOCUMENT : @doc.NUMBER , @doc.NOTE
                            </div>
                        }
                    }
                    <br />
                    Source of Income : @if (item.INDIVIDUAL_ALIAS.Length > 0)
                    {
                        foreach (CONSOLIDATED_LISTINDIVIDUALINDIVIDUAL_ALIAS alias in item.INDIVIDUAL_ALIAS)
                        {
                            <div>@alias.ALIAS_NAME : @alias.QUALITY</div>
                        }
                    }
                    <br />
                    Country of residence
                    <br />
                    Occupation
                    <br />
                    Contact No
                </div>

            }
        </div>
        <div class="col-md-6">
            @foreach (CONSOLIDATED_LISTENTITY item in Model.ENTITIES.Take(5))
            {
                <div>
                    Data ID : @item.DATAID
                </div>
                <div>
                    Name : @item.NAME_ORIGINAL_SCRIPT
                </div>
                <div>
                    Firstname : @item.FIRST_NAME
                </div>
            }
        </div>
    </div>
}

@section scripts{
    <script>
        $("#submitnow").click(function () {
            $("#form1").submit();
        });
    </script>
}
