﻿
@{
    ViewBag.Title = "ImportBigData";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-lg-6">
                    @ViewBag.Message

                    @using (Html.BeginForm("ImportBigData", "Home", new { Area = "" }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "form1" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="exampleInputFile">Upload Big Data</label>
                            <input class="form-control-file" id="inputFile" name="inputFile" aria-describedby="fileHelp" type="file" accept=".xlsx"><small class="form-text text-muted" id="fileHelp">Only XSL</small>
                        </div>
                    }
                </div>
            </div>
            <div class="tile-footer">
                <button id="submitnow" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#submitnow").click(function () {
            $("#form1").submit();
        });
    </script>
}

