﻿@model sdnList
@using CyberEye.Models.OFAC
@{
    ViewBag.Title = "ImportOfac";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-lg-6">
                    @using (Html.BeginForm("ImportOfac", "Home", new { Area = "" }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "form1" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="exampleInputFile">Upload OFAC Sanctions List Data</label>
                            <input class="form-control-file" id="inputFile" name="inputFile" aria-describedby="fileHelp" type="file" accept=".xml"><small class="form-text text-muted" id="fileHelp">Only XSL</small>
                        </div>
                    }
                </div>
            </div>
            <div class="tile-footer">
                <button id="submitnow" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#submitnow").click(function () {
            $("#form1").submit();
        });
    </script>
}

@if (Model != null)
{
    foreach (sdnEntry item in Model.sdnEntry.Take(30))
    {
        <div>
            @item.firstName @item.lastName
            <br />
            @if (item.dateOfBirthList != null)
            {
                @item.dateOfBirthList.dateOfBirthItem.dateOfBirth
            }
            @if (item.placeOfBirthList != null)
            {
                <span><strong>Address : </strong> @item.placeOfBirthList.placeOfBirthItem.placeOfBirth</span>
            }
        </div>
    }
}