﻿@model IEnumerable<CommonData>
@using CyberEye.Models
@{
    ViewBag.Title = " TF Inteligence  Report";
}

<div class="tile">
    <div class="tile-title">
        List of Suspected Terrorists
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Tel</th>
                            <th>Risk Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (CommonData item in Model)
                            {
                                <tr>
                                    <td>@Ajax.ActionLink(item.Name, "ShowPartialRiskInfo", new { name = Url.Encode(item.Name), bod = Url.Encode(item.DOB) }, new AjaxOptions { UpdateTargetId = "DivResult" })</td>
                                    <td>@item.DOB</td>
                                    <td>@item.Phone</td>
                                    <td>@item.RBAProfile.TotalScore</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @{
                    var itemGroupList = Model.GroupBy(a => a.RBAProfile.TotalScore).Select(a => new { Value = a.Key, Count = a.Count() });
                }
                <table class="table" style="margin-top: 10px;">
                    <tr>
                        <th>Value</th>
                        <th>Count</th>
                    </tr>
                    @foreach (var item in itemGroupList.OrderBy(a => a.Value))
                    {
                        <tr>
                            <td>@item.Value</td>
                            <td>@item.Count</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="position-fixed cs-fixed-div" id="DivResult">
                @if (Model != null && Model.Count() > 0)
                {
                    @Html.Partial("Partial/PartialRiskInfo", Model.FirstOrDefault())
                }

            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryajaxval")
}