﻿@model ViewChartLevel
@using CyberEye.Models.ViewItem
@{
    ViewBag.Title = "RBA Profile";
}


<div class="tile">
    <div id="chartDiv">
        <canvas id="chartarea1" width="400" height="300" class="embed-responsive-item"></canvas>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/ScriptsAddon/chartjs")

    <script>
    var chartarea1 = document.getElementById("chartarea1");
    var chart11config = {
        type: 'bar',
        data: {
            labels: ['Low', 'Medium', 'Heigh'],
            datasets: [{
                //label: ['Low', 'Medium', 'Height'],
                data: [@Model.Low, @Model.Medium, @Model.Height],
                backgroundColor: ['#bcff45', '#5eb0de', '#ffb1c1'],
                boderWidth: 1
            }]
        },
        options: {
            responsive: true,
            legend: {
                display: false
            }
        }
    };

        var Chart1 = new Chart(chartarea1, chart11config);

        document.getElementById("chartarea1").onclick = function (evt) {
            if (Chart1.config.type != "bar") {
                //document.getElementById("lbltheClickedOne").innerText = "Only available for Bar Charts";
            } else {
                var activePoints = Chart1.getElementAtEvent(evt);
                var theElement = Chart1.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index];
                console.log(activePoints);
                console.log(theElement);
                //document.getElementById("lbltheClickedOne").innerText = activePoints[0]._index;

                if (activePoints[0]._index == 2) {
                    var url = '@Url.Action("PatternAnalysis", "Home", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', activePoints[0]._index);
                }

                //console.log(Chart1.config.data.datakeys[activePoints[0]._index]);
                //document.getElementById("lbltheClickedOne").innerText = theChart.config.data.datakeys[activePoints[0]._index];
                console.log(Chart1.config.type);
            }
        }

    </script>
}

