﻿body {
}

.cs-title {
    font-size: 20px;
    border-bottom: groove 5px #808080;
}


    .cs-title span {
        font-weight: bold;
        font-size: 22px;
    }

.cs-fixed-div {
    right: 50px;
    width: 37%;
    top: 152px;
}

.cs-subtitle {
    color: #3287b7;
}

.treeview-item {
    margin-left: 20px;
}
